<% if (pages > 1) { %>
<nav>
    <ul class="pagination justify-content-center">
        <% if (currentPage > 1) { %>
        <li class="page-item">
            <a class="page-link" href="?page=<%= currentPage - 1 %>"><i class="fas fa-chevron-left"></i></a>
        </li>
        <% } %>
        
        <% for(let i = 1; i <= pages; i++) { %>
        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
        <% } %>

        <% if (currentPage < pages) { %>
        <li class="page-item">
            <a class="page-link" href="?page=<%= currentPage + 1 %>"><i class="fas fa-chevron-right"></i></a>
        </li>
        <% } %>
    </ul>
</nav>
<% } %>